.footer{
    font-family: 'Roboto',sans-serif;
    padding: 60px 0;
    box-sizing: border-box;
}
.footer__list{
    max-width: 255px;
}
.item__title{
    font-size: 16px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 35px;
}
.footer__item{
    margin-bottom: 20px;
}
.item__link{
    font-size: 12px;
    color: #828282;
}

.footer-bottom{
    margin-top: 60px;
    border-top: 1px solid #EFEFEF;
}

.icons{
    margin: 35px 0;
}
.icons-link{
    width: 250px;
}
.link__item1{
    border-radius: 30px;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    padding: 15px 11px 10px 11px;
    transition: 0.3s;
}
.link__item1:hover{
    background: #F13C6E;
}
.link__item1:hover svg{
    fill: white;
}
.link__item2:hover{
    background: #F13C6E;
}
.link__item2:hover svg{
    fill: white;
}
.link__item3:hover{
    background: #F13C6E;
}
.link__item3:hover svg{
    fill: white;
}
.link__item4:hover{
    background: #F13C6E;
}
.link__item4:hover svg{
    fill: white;
}
.link__item2{
    border-radius: 30px;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    padding: 15px 9px 13px 8px;
    transition: 0.3s;
}
.link__item3{
    border-radius: 30px;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    padding: 13px 17px 0px 16px;
    transition: 0.3s;
}
.link__item4{
    border-radius: 30px;
    border: 2px solid #F13C6E;
    box-sizing: border-box;
    padding: 13px 12px 0px 11px;
    transition: 0.3s;
}

.address{
    margin: 50px 0;
}

.under-footer{
    
}