.special-sale{
    font-family: 'Roboto',sans-serif;
    margin-top: 70px;
}
.sale__title{
    font-size: 24px;
    font-weight: 700;
}
.sale__box{
    width: 250px;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}
.sale__content{
    margin: 20px 0;
    color: #333333;
}
.sale__price{
    font-size: 21px;
    margin: 20px 0;
}
.sale__btn{
    background: #F13C6E;
    border-radius: 40px;
    padding: 9px 40px;
    color: #fff;
}